/rust/target
/target
/rust/pkg
/pkg
/dist
/vendor
/examples/data/*.mp4
/examples/data/*.mkv
/rust/codecs/codec-wrapper/target
/rust/codecs/codec-wrapper/Cargo.lock
/examples/lib
node_modules/
test-results/